<!DOCTYPE html>
<html data-ng-app="MyBasicAngularApplicationRoot">
<head>
    <title></title>
    <script type="text/javascript" src="js/libs/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body data-ng-controller="MyAppController">
<div>
    <ul>
        <li ng-repeat="person in angularJsonData" >
            {{ person.personName + ', ' + person.country }}
        </li>
    </ul>

    <br/>
    <br/>
    <table border="1">
        <tr ng-repeat="person in angularJsonData | orderBy : 'personName'">
            <td>{{ $index + 1 }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">{{ person.personName | lowercase}}</td>
            <td ng-if="$even">{{ person.personName | uppercase}}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">{{ person.country | lowercase}}</td>
            <td ng-if="$even">{{ person.country | uppercase }}</td>
        </tr>
    </table>
</div>
</body>
</html>