<header
        class="navbar navbar-default navbar-fixed-top header"
        header-auto-hide
        hide-duration="2">
    <div class="container-full">
        <div class="row">
          <!--  <div ui-view="topLeftModule"></div>
            <div ui-view="topCenterModule"></div>
            <div ui-view="topRightModule"></div>
            <div ui-view="locale"></div>-->
        </div>
    </div>
</header>

<div ui-view class="uiViewContentCanvas flex1"></div>

<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-full">
          <!--  <div class="row">
                <div ui-view="bottomLeftModule"></div>
                <div ui-view="bottomRightModule"></div>
            </div>-->
        </div>
    </nav>
</footer>