<!DOCTYPE html>
<html ng-app="MyBasicAngularApplicationRoot">
<head>
    <title>Angular Page</title>
    <script type="text/javascript" src="js/libs/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="MyAppController">
<center>
    <h1> {{angularMsg}}</h1>
    <br/>
    <br/>

    <form ng-submit="onSubmit()">
        <table>
            <tr>
                <td>Employee Id</td>
                <td>&nbsp</td>
                <td><input type="text" class="form-control" name="employeeId" ng-model="employeeId"/></td>
            </tr>
            <tr>
                <td>Employee Name</td>
                <td>&nbsp</td>
                <td><input type="text" class="form-control" name="employeeName" ng-model="employeeName"/></td>
            </tr>
            <tr>
                <td>Employee Email</td>
                <td>&nbsp</td>
                <td><input type="text" class="form-control" name="employeeEmail" ng-model="employeeEmail"/></td>
            </tr>
            <tr>
                <td><input type="button" ng-click="addEmployees()" name="add employee" value="add employee"/></td>
                <td>&nbsp</td>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    </form>

</center>
</body>
</html>